<!doctype html>
<html>
   <body>
   
      <table>
         
         <div style="text-align : center;">
            <img src="{{image}}"class="img-fluid"width="300" height="300"><br>
            
            <h2>{{track}} - {{artist}}<br></h2>
            <h3>Genre : {{genre}}<br></h3>
            
         </div>
      </table>
      <center>
      <table class="table table-hover">
         <thead>
           <tr>
             <th scope="col">#</th>
             <th scope="col">Track</th>
             <th scope="col">Artist</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th scope="row">1</th>
             <td>{{T1}}</td>
             <td>{{A1}}</td>
             
           </tr>
           <tr>
             <th scope="row">2</th>
             <td>{{T2}}</td>
             <td>{{A2}}</td>
             
           </tr>
           <tr>
             <th scope="row">3</th>
             <td>{{T3}}</td>
             <td>{{A3}}</td>
           </tr>
           <tr>
            <th scope="row">4</th>
            <td>{{T4}}</td>
            <td>{{A4}}</td>
          </tr>
         </tbody>
       </table>
      </center>
   </body>
</html>